f"""
# Nuclei Templates

[![License](https://img.shields.io/badge/license-MIT-_red.svg)](https://opensource.org/licenses/MIT)
[![GitHub Release](https://img.shields.io/github/release/projectdiscovery/nuclei-templates)](https://github.com/projectdiscovery/nuclei-templates/releases)
[![contributions welcome](https://img.shields.io/badge/contributions-welcome-brightgreen.svg?style=flat)](https://github.com/projectdiscovery/nuclei-templates/issues)
[![Follow on Twitter](https://img.shields.io/twitter/follow/pdnuclei.svg?logo=twitter)](https://twitter.com/pdnuclei)
[![Chat on Discord](https://img.shields.io/discord/695645237418131507.svg?logo=discord)](https://discord.gg/KECAGdH)

Templates are the core of [nuclei scanner](https://github.com/projectdiscovery/nuclei) which power the actual scanning engine. This repository stores and houses various templates for the scanner provided by our team as well as contributed by the community. We hope that you also contribute by sending templates via **pull requests** or [Github issue](https://github.com/projectdiscovery/nuclei-templates/issues/new?assignees=&labels=&template=submit-template.md&title=%5Bnuclei-template%5D+) and grow the list.

An overview of the nuclei template directory including number of templates and HTTP request associated with each directory. 

### Nuclei templates `{version}` overview

| Templates | Counts | Templates | Counts |
|----|----|----|----|
| cves | {countTpl("cves")} | files | {countTpl("files")} |
| vulnerabilities | {countTpl("vulnerabilities")} | panels | {countTpl("panels")} |
| technologies | {countTpl("technologies")} | security-misconfiguration | {countTpl("security-misconfiguration")} |
| workflows | {countTpl("workflows")} | tokens | {countTpl("tokens")} |
| dns | {countTpl("dns")} | fuzzing | {countTpl("fuzzing")} |
| generic-detections | {countTpl("generic-detections")} | default-credentials | {countTpl("default-credentials")} |
| subdomain-takeover | {countTpl("subdomain-takeover")} | payloads | {countTpl("payloads")} |
| wordlists | {countTpl("wordlists")} |


### Nuclei templates `{version}` tree overview

<details>
<summary> Nuclei templates </summary>

```
{command("tree", 1, -2)}
```

</details>

**{command("tree", -2, None)}**.

Please navigate to https://nuclei.projectdiscovery.io for detailed documentation to build new and your own custom templates and many example templates for easy understanding. 

------
**Notes:** 
1. Use YAMLlint (e.g. [yamllint](http://www.yamllint.com/)) to validate new templates when sending pull requests.
2. Use YAML Formatter (e.g. [jsonformatter](https://jsonformatter.org/yaml-formatter)) to format new templates when sending pull requests.

Thanks again for your contribution and keeping the community vibrant. :heart:
"""