[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Validator"

[[workflows.workflow]]
name = "Template Validator"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash validate_templates.sh && sleep infinity"

[workflows.workflow.metadata]
outputType = "console"
