---
extends: default

ignore: |
  .pre-commit-config.yml
  .github/
  .git/
  *.yml

rules:
  document-start: disable
  comments-indentation: disable
  line-length: disable
  new-lines: disable
  new-line-at-end-of-file: disable
  truthy: disable
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  empty-lines:
    max: 5
  braces:
    forbid: true
  brackets:
    forbid: true
