---
extends: default

ignore: |
  .pre-commit-config.yml
  .github/workflows/*.yml

rules:
  document-start: disable
  line-length: disable
  new-lines: disable
  new-line-at-end-of-file: disable
  truthy: disable
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1